{{#unless experimental}}
	<div class="brand col-xs-8 col-sm-9 col-md-5">
		<a href="/home.html">
            <img class="visible-print-block" alt="" tabindex="-1" src="{{assets}}/../{{site.theme}}/assets/opc-blk-{{language}}.png"/>
            <img class="hidden-print img img-responsive" alt="OPC Logo" src="{{assets}}/../{{site.theme}}/assets/opc-wht-{{language}}.png" />
            <span class="wb-inv"> {{{i18n "sitetitle"}}}</span>
        </a>
	</div>
{{else}}
	<div class="brand col-xs-6">
		<a href="/home.html"><span class="cndwrdmrk"><span class="wb-inv"> {{{i18n "tmpl-gc-wmms"}}}</span></span></a>
	</div>
{{/unless}}
