
<div class="brand">
	<div class="container">
		<div class="row ">
			<div class="col-md-6">
				<img class="img img-responsive" alt="OPC Logo" src="{{assets}}/../{{site.theme}}/assets/opc-blk-{{language}}.png" />
				<span class="wb-inv"> {{{i18n "tmpl-gc-sig"}}}</span>
			</div>
			<div class="col-md-6 tofpg text-right">
				<a href="#wb-cont">{{{i18n "tmpl-toppage"}}} <span class="fa fa-arrow-circle-up"></span></a>
			</div>
		</div>
	</div>
</div>

