<li><a href="{{{i18n "menu-main-for-individuals-link"}}}" class="item">{{{i18n "menu-main-for-individuals-text"}}}</a></li>
<li><a href="{{{i18n "menu-main-for-businesses-link"}}}" class="item">{{{i18n "menu-main-for-businesses-text"}}}</a></li>
<li><a href="{{{i18n "menu-main-for-federal-institutions-link"}}}" class="item">{{{i18n "menu-main-for-federal-institutions-text"}}}</a></li>
<li><a href="{{{i18n "menu-main-report-a-concern-link"}}}" class="item">{{{i18n "menu-main-report-a-concern-text"}}}</a></li>
<li><a href="{{{i18n "menu-main-opc-actions-and-decisions-link"}}}" class="item">{{{i18n "menu-main-opc-actions-and-decisions-text"}}}</a></li>
<li><a href="{{{i18n "menu-main-about-the-opc-link"}}}" class="item">{{{i18n "menu-main-about-the-opc-text"}}}</a></li>
